@import "tailwindcss";

@theme {
  --color-brand-light: #67e8f9;
  --color-brand: #06b6d4;
  --color-brand-dark: #0e7490;

  --background-image-aero-gradient: linear-gradient(135deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.1) 100%);

  --backdrop-blur-xs: 2px;
}

:root {
  --background: #f8fafc;
  /* Slate 50 */
  --foreground: #0f172a;
  /* Slate 900 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f8fafc;
    --foreground: #0f172a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@utility glass-panel {
  @apply bg-white/30 backdrop-blur-md border border-white/20 shadow-xl;
}

@utility glass-button {
  @apply bg-brand/80 hover:bg-brand text-white backdrop-blur-sm transition-all shadow-lg hover:shadow-cyan-500/50;
}